<div class="w-1/2 lg:w-1/3 flex flex-col gap-3 mx-auto mt-5">

  <app-create-post></app-create-post>

  <!-- Post -->
  @for (post of posts; track $index) {
    <div class="bg-white rounded-lg p-5 flex flex-col gap-3">

      <!-- header -->
      <div class="flex gap-3 items-center">
          <img class="w-11 rounded-full" [src]="post.user.photo" [alt]="post.user.name">
          <div class="font-medium">
            <h3>{{post.user.name}}</h3>
            <span class="text-gray-500">{{post.createdAt | date}}</span>
          </div>
      </div>

      <!-- content -->
      <p>{{post.body}}</p>
      <img [src]="post.image" class="rounded-lg" alt="">

      <!-- Comments -->
      <p class="text-slate-400 cursor-pointer" #showComments>Show Comments</p>
      @defer (on interaction(showComments)) {
        <app-post-comments [postId]="post.id" ></app-post-comments>
      }

      <!-- type comment -->
      <app-create-comment [postId]="post.id"></app-create-comment>


  </div>
  }

</div>
